{
  "extends": "airbnb-base",
  "rules": {
    "no-underscore-dangle": [
      "error",
      {
        "allow": ["_id"]
      }
    ],
    "consistent-return": "off",
    "no-console": "off",
    "prefer-destructuring": "off",
    "no-unused-vars": "off",
    "object-shorthand": "off"
  }
}